.notifications{
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  width: 100vw;
}

.notification {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small);
  width: 100%;
}

.notification-error {
  background: var(--red);
}

.notification-info {
  background: var(--gray-medium);
}

.notification-success {
  background: var(--green);
}
